---
import { Tabs, TabItem } from "@astrojs/starlight/components"
import { Code } from 'astro-expressive-code/components'
import VERSION from '/src/components/version'

export interface Props {
	package: string;
  download?: boolean;
  cdn?: boolean;
  bun?: boolean;
  parent?: boolean;
  async?: boolean;
}

const props = Astro.props;
---

<Tabs syncKey="package-manager">
  <TabItem label="npm">
    <Code code={`npm install ${props.package} --save`} lang="bash" />
  </TabItem>
  <TabItem label="pnpm">
    <Code code={`pnpm add ${props.package}`} lang="bash" />
  </TabItem>
  <TabItem label="Yarn">
    <Code code={`yarn add ${props.package}`} lang="bash" />
  </TabItem>
  {(props.bun === true) && <TabItem label="Bun">
    <Code code={`bun add ${props.package}`} lang="bash" />
  </TabItem> }
  {(props.cdn === true) && <TabItem label="jsDeliver">
    <a style="margin: 0 20px" target="_blank" href={`https://www.jsdelivr.com/package/npm/${props.package}`}>
      <img src={`//data.jsdelivr.com/v1/package/npm/${props.package}/badge`} alt="jsDelivr" style="float: right;position: relative; top: 4px;"/>
      https://www.jsdelivr.com/package/npm/{props.package}
    </a>
  </TabItem>}
  {(props.download === true) && <TabItem label="Download">
      <b style="margin: 0 20px" >Download</b><a href="https://github.com/davidjbradshaw/iframe-resizer/raw/master/iframe-resizer.zip">iframe-resizer.zip</a>.
  </TabItem>}
</Tabs>


 
